h1 {
    color: rgba(0, 200, 100, 0.8);
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */
    border: 2px solid rgb(255, 100, 80);
}

h4 {
    background: rgb(255, 100, 80);
}

body {
    background: pink;
    /* background: url(https://images-na.ssl-images-amazon.com/images/I/61a7oltbzmL._SY450_.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}